.container {
  background: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 52px;
}

a {
  background-color: coral;
  color: white;
  border-radius: 20px;
  text-align: center;
  width: 25%;
  margin: 5px;
}

a:hover {
  background-color: coral;
  color: black;
  text-underline: black;
}

a:visited {
  background-color: coral;
  color: bisque;
}
